.modo-claro {
    background-color: #fff;
    color: #000;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 100px;
}

button {
    width: 80px;
    height: 40px;
    margin-top: 25px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    border: 2px solid #b2987d;
    cursor: pointer;
}

button img {
    width: 20px;
}

span {
    font-size: 12px;
    font-weight: 600;
}